
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.5)), url('../src/Images/pic3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
}
.Carousel{
filter: brightness(70%);
}
.center{
  margin: 1em auto;
  padding: 1em;
  
  text-align: center;
  align-items: center;
  justify-content: center;
   min-height: 80vh; 
  
}



input, select, textarea{
  width: 100%;
  margin: 0.6em 0.6em;
  padding: 10px 17px;
  
  font-size: 1.1em;
  
  
}

label{
  padding: 6px;
  color: white;
  font-weight: 500;
}

.formz {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin:  auto;
  background-color: rgb(146, 152, 152);
  padding: 1em 2em;

}

.subscribe{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), 
  rgba(0, 0, 0, 0.2)),url('../src/Images/pic6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  width: 100%;
  
}

.wal{
 background-image: url('../src/Images/build2.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding: 4em;
 min-height: 100vh;
}



/* .btn button:hover {
  background: #066e37;
  text-decoration: none;
} */